/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
   
}

.createbt
{
    -fx-background-color: #031847;
}

.createbt:hover
{
    -fx-background-color: white;
    -fx-border-color: #031847;
    -fx-text-fill:  #031847;
}